





<div class="header" *ngIf="recieverUser">

  <i class="material-icons back position" (click)="goback()">exit</i>

  <span class="usuarios position">{{recieverUser.username}}</span><h5>POWERED BY JIMEMART</h5>


</div>
<div class="header" *ngIf="!recieverUser">
  <i class="material-icons back position send" (click)="goback()">send</i>
  <span class="usuarios position">{{roomName}}</span>
</div>
<div class="spessore"></div>


<div  class="conversation"  id="convo">
  <div *ngFor="let mess of convMessages">
    <div *ngIf="mess.sender === user._id" class="mine message">
      <p class="grey">{{mess.message}}</p>
    </div>
    <div *ngIf="mess.sender !== user._id" class="other message">
      <p class="green"><span *ngIf="mess.nameOfSender" class="senderName">{{mess.nameOfSender}}: </span><br *ngIf="mess.nameOfSender" />{{mess.message}}</p>
    </div>
  </div>
</div>

<div class="write">
  <input type="text" #message>
  <i class="material-icons send" (click) = "sendMessage(message, convo)">send</i>
</div>
