body {
  background-color: #434857 !important;
  font-family: 'Raleway', sans-serif !important;
}
button:hover {
  background-color: #1CA8DD !important;
  color: #434857 !important;
}
input,
textarea {
  border-color: #1CA8DD !important;
  background-color: #434857 !important;
  color: #ddd !important;
}
span {
  background-color: #1BC98E !important;
  border-color: #1BC98E !important;
  color: #252830 !important;
}
h4,
h1 {
  font-family: 'Raleway', sans-serif !important;
  color: #1BC98E !important;
}
p {
  color: #ddd !important;
}


.fBase-ico {
  margin: 0 auto;
}
.fBase-ico i {
  margin-right: 5px;
}
.fBase-ico p {
  margin-bottom: 5px;
  font-weight: 200;
  color: #1CA8DD !important;
}



.wrapper {
  margin: 0 auto;
  padding-top: 80px;
  border: 3px solid black;
  border-radius: 8px;
  width: 800px;
  background-color: #252830;
  text-align: center;
}
input,
span {
  margin-top: 16px !important;
}
li {
  text-align: left;
  list-style-type: none;
  font-size: 13px;
}
button {
  background-color: #252830 !important;
  color: #1CA8DD !important;
  border: 1px solid !important;
  border-color: #1CA8DD !important;
  margin-bottom: 10px;
  border-radius: 4px !important;
}


.title-wrapper {
  margin: 0 auto;
  margin-top: 200px;
  width: 600px;
  text-align: center;
}
.title-wrapper h1 {
  font-size: 100px !important;
  font-weight: 200;
  border: 3px solid #1BC98E;
  border-radius: 3px;
  margin-bottom: 30px;
  background-color: #252830;
}
#enter-btn {
  border: 0px !important;
}


.messages {
  margin: 10px;
  padding-left: 5px;
  border: 1px solid #1CA8DD;
  border-radius: 4px;
  height: 300px;
  background-color: #434857;
  color: #1BC98E !important;
  overflow: auto;
  white-space: normal;
  word-wrap: break-word;
}

.send-btn {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.alert-wrapper {
  margin: 0 auto;
  margin-top: 10px;
  border-left: 2px solid #1BC98E !important;
  width: 206px;
  text-align: center;
}
.alert-wrapper h4 {
  border-radius: 5px;
}

.background{
  background: url('http://moheban-ahlebeit.com/images/Gradient-Wallpaper/Gradient-Wallpaper-14.jpg');
  width: auto;
  height: 800px;
  background-size: cover;
}
