<div class="background">

  <div class="wrapper">
    <div class="fBase-ico">
      <p><i class="fi-database small"></i>Powered by Jimena</p>
    </div>

    <div class="messages"></div>

    <form>
      <div class="row">
        <div class="large-12 columns">
          <div class="row collapse prefix-radius">
            <div class="small-4 columns">
              <span class="prefix">Username</span>
            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>
            <textarea id="user-ms-input" placeholder="Enter a Message"></textarea>
          </label>
        </div>
      </div>
    </form>

    <button class="tiny send-btn">Send</button>
    <button class="tiny clear-chat">Exit</button>
  </div>

</div>
