



<div class="">
    <div class="logo"></div>
</div>


<div class="parallax-container">
  <div class="parallax"><img src="http://images6.fanpop.com/image/photos/33500000/Rock-n-Roll-rock-33510403-500-377.jpg" heigth="500px"></div>
</div>
<div class="section white" id = "container">
  <div class="row container">
    <h2 class="header">MY-BAND-POCKET</h2>
    <p class="grey-text text-darken-3 lighten-3">My Band Pocket is the only one application tha allows you to keep in touch with every musician in the world!</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="https://static01.nyt.com/images/2014/09/13/arts/berry-chuck-adv-obit-slide-W3AH/berry-chuck-adv-obit-slide-W3AH-videoSixteenByNine1050.jpg" heigth="500px"></div>
</div>
