<!--
<nav>
  <div class="nav-wrapper">
    <a [routerLink]="['/']" class="brand-logo">HOME</a>
    <ul class="right hide-on-med-and-down">
      <li><a *ngIf='user' [routerLink]="['/user']">USER-PROFILE</a></li>
      <li><a *ngIf='!user' [routerLink]="['/login']">LOGIN</a></li>
      <li><a *ngIf='!user' [routerLink]="['/signup']">SIGNUP</a></li>
      <li><a *ngIf='user' (click)="auth.logout().subscribe()" [routerLink]="['/home']"> LOGOUT </a></li>
    </ul>
  </div>
</nav> -->


<nav>
  <div class=" nav-wrapper text-lighten-4">
    <a [routerLink]="['/']" class="brand-logo red-text"><img id ="logo"src="" alt="">HOME</a>
    <a href="#" materialize="button-collapse" data-activates="mobile-demo" class="button-collapse red-text"><i class="material-icons">menu</i></a>
    <ul *ngIf="!user" class="right hide-on-med-and-down">
      <li><a [routerLink]="['/login']" class="red-text"><i class="material-icons left red-text">perm_identity</i>Log-In</a></li>
      <li><a [routerLink]="['/signup']" class="red-text"><i class="material-icons left red-text">input</i>Sign-Up</a></li>
    </ul>
    <ul *ngIf="user" class="right hide-on-med-and-down">
      <li><a [routerLink]="['/user']" class="red-text"><i class="material-icons left red-text">perm_identity</i>MY-PAGE</a></li>
      <li><a (click)="auth.logout().subscribe()" [routerLink]="['/home']" class="red-text"><i class="material-icons left red-text">exit_to_app</i>Logout</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <ul *ngIf="!user">
        <li><a [routerLink]="['/']" class="brand-logo red-text">HOME</a></li>
        <li><a [routerLink]="['/login']" class="red-text"><i class="material-icons left red-text">perm_identity</i>Log-In</a></li>
        <li><a [routerLink]="['/signup']" class="red-text"><i class="material-icons left red-text">input</i>Sign-Up</a></li>
      </ul>
      <ul *ngIf="user">
        <li><a [routerLink]="['/']" class="brand-logo red-text">HOME</a></li>
        <li><a [routerLink]="['/user']"><i class="material-icons left red-text">perm_identity</i>{{ user.username }} </a></li>
        <li><a (click)="auth.logout().subscribe()" [routerLink]="['/home']"><i class="material-icons left red-text">exit_to_app</i>Logout</a></li>
      </ul>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>


<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="red-text">Footer Content</h5>
        <p class="red-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="red-text">Links</h5>
        <ul class="red-text">
          <li class="red-text"><a class="red-text text-lighten-3" href="#!">Link 1</a></li>
          <li class="red-text"><a class="red-text text-lighten-3" href="#!">Link 2</a></li>
          <li class="red-text"><a class="red-text text-lighten-3" href="#!">Link 3</a></li>
          <li class="red-text"><a class="red-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="red-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
