<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <ul>
  <li><a [routerLink]="['/']">Home</a></li>
  <li><a [routerLink]="['/user']">User Profile</a></li>
  <li><a [routerLink]="['/login']">Login</a></li>
  <li><a [routerLink]="['/signup']">Signup</a></li>
  </ul>
  <agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>

  <!-- <script>

      function initMap() {
        var myLatLng = {lat: -25.363, lng: 131.044};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
    </script> -->

  <router-outlet></router-outlet>
</div>
