<form >
  <h2> Signup </h2>
  <label>name</label>
  <input type="text" [(ngModel)]="formInfo.name" name="name"/>
  <br>
  <label>firstname</label>
  <input type="text" [(ngModel)]="formInfo.firstname" name="firstname"/>
  <br>
  <label>age</label>
  <input type="text" [(ngModel)]="formInfo.age" name="age"/>
  <br>
  <label>address</label>
  <input type="text" [(ngModel)]="formInfo.address" name="address"/>
  <br>
  <label>city</label>
  <input type="text" [(ngModel)]="formInfo.city" name="city"/>
  <br>
  <label>email</label>
  <input type="text" [(ngModel)]="formInfo.email" name="email"/>
  <br>
  <label> Username </label>
  <input type="text" [(ngModel)]="formInfo.username" name="username"/>
  <br>
  <label> Password </label>
  <input type="password" [(ngModel)]="formInfo.password" name="password"/>



  <button (click)="signup()" class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">sign</i>
    </button>
</form>
