



.mdi-action-verified-user:before  {
  content: "\e68e";
}

.mdi-action-account-circle:before {
  content: "\e606"; }


.mdi-communication-email:before {
  content: "\e6e3"; }

  .mdi-communication-vpn-key:before {
  content: "\e6fa"; }


.mdi-action-room:before {
  content: "\e65d"; }

  .mdi-action-home:before {
  content: "\e636"; }

  .mdi-action-perm-identity:before {
  content: "\e650"; }

@font-face {
  font-family: "Material-Design-Icons";
  src: url("https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/font/material-design-icons/Material-Design-Icons.eot?#iefix") format("embedded-opentype"), url("https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/font/material-design-icons/Material-Design-Icons.woff2") format("woff2"), url("https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/font/material-design-icons/Material-Design-Icons.woff") format("woff"), url("https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/font/material-design-icons/Material-Design-Icons.ttf") format("truetype"), url("https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/font/material-design-icons/Material-Design-Icons.svg#Material-Design-Icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="mdi-"], [class*=" mdi-"] {
  font-family: "Material-Design-Icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
