<form class="formsignup">
  <h2> Signup </h2>
  <label>firstname</label>
  <input type="text" [(ngModel)]="formInfo.firstname" name="firstname"/>
  <br>
  <label>lastname</label>
  <input type="text" [(ngModel)]="formInfo.lastname" name="lastname"/>
  <br>
  <label>age</label>
  <input type="text" [(ngModel)]="formInfo.age" name="age"/>
  <br>
  <label>address</label>
  <input type="text" [(ngModel)]="formInfo.address" name="address" autocomplete="address-level2"/>
  <br>
  <label>city</label>
  <input type="text" [(ngModel)]="formInfo.city" name="city"/>
  <br>
  <label>email</label>
  <input type="text" [(ngModel)]="formInfo.email" name="email"/>
  <br>
  <label> Username </label>
  <input type="text" [(ngModel)]="formInfo.username" name="username"/>
  <br>
  <label> Password </label>
  <input type="password" [(ngModel)]="formInfo.password" name="password"/>



  <button (click)="signup()" class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
</form>
