



<div *ngIf="!user">
  <h2>NO USER LOGGED IN</h2>
</div>

<div *ngIf="user">
  <h4> You are now logged in as {{ user.username }}!! </h4>
  <div >
    <ul>
      <li>{{user.lastname}}</li>
      <li>{{user.firstname}}</li>
      <li>{{user.age}}</li>
      <li>{{user.address}}</li>
      <li>{{user.city}}</li>
      <li>{{user.email}}</li>
      <li>{{user.profile}}</li>
    </ul>

  </div>

  <!-- <div class="listInstrument" *ngFor= "let user of users">
    <p>USER-NAME: {{user.firstname }}</p>
    <p>USER-LASTNAME: {{user.lasttname }}</p>
    <p>AGE: {{user.center.age }}</p>
    <p>ADDRESS: {{user.address }}</p>
    <p>CITY: {{user.city }}</p>
    <p>EMAIL: {{user.email }}</p>
    <p>PROFILE: {{user.profile }}</p>

  </div> -->



  <button (click)="auth.logout().subscribe()"> LOGOUT </button>
  <a [routerLink]="['/create']">ADD-INSTRUMENT-PROFILE</a>

</div>
