agm-map {
  height: 400px;
  width: 400px;

}

.container{
  width: 400px;
  height: 400px;
  float: right;
}

.card{
  width: 600px;
  display: inline-block;
}

.background{
  background: url('http://data.1freewallpapers.com/download/music-jack-audio-connectors-1600x900.jpg');
  

}
