.profile-user {
  margin: 30px;
}

.background {
  background: url('http://moheban-ahlebeit.com/images/Gradient-Wallpaper/Gradient-Wallpaper-14.jpg');
  width: auto;
  height: 100wh;
  background-size: cover;
  
}


.profile-music {
  margin: 20px;
  height: 200px;
  width: 300px;
  border: 4px solid green;
  border-radius: 5%;
  box-shadow: 10px 10px 5px black;


}

agm-map {
  width: 100px;
}

.map-container{

  height: 200px;
  width: 200px;
}
